<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
    <link rel="stylesheet" href="/css/penguji-homescreen-css.css">
</head>
<body>
    <div class="background">

    </div>

    <!-- Back button -->
    <a href="/logout" class="back-button">←</a>

    <div class="homescreen-container">
        <h2>Selamat Datang,<br><span th:text="${penguji}"></span> Penguji!</h2>
        <div class="button-group">
            <a href="/penguji/input-nilai-sidang">
                <button>Input Nilai Sidang</button>
            </a>

            <a href="/penguji/informasi-sidang">
                <button>Informasi Sidang</button>
            </a>

            <a href="../Penguji/bap/bap.html">
                <button>BAP</button>
            </a>

        </div>
    </div>
</body>
</html>
